<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>arcoirsl</title>

        <link href="../../public/css/app.css" rel="stylesheet" />
        <link href="../../public/css/normalize.css" rel="stylesheet" />
        <link href="../../public/css/tailwind.css" rel="stylesheet" />

        <script
            src="https://kit.fontawesome.com/799073a1c9.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://kit.fontawesome.com/799073a1c9.css"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header class="header">
            <div class="logo"></div>
            <div class="tool-bar">
                <div class="land">
                    <i class="fa-solid fa-language"></i>
                </div>
                <div class="searcher">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="user">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="favourite">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="shopping">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
            </div>
        </header>

        <nav class="nav">
            <div class="new">NEW</div>
            <div class="sale">SALE</div>
            <div class="option1">OPT1</div>
            <div class="option2">OPT2</div>
            <div class="option3">OPT3</div>
        </nav>

        <div class="container"></div>

        <footer></footer>
    </body>
</html>
