<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>arcoirsl</title>

        <link href="../../public/css/app.css" rel="stylesheet" />
        <link href="../../public/css/product.css" rel="stylesheet" />
        <link href="../../public/css/normalize.css" rel="stylesheet" />
        <link href="../../public/css/tailwind.css" rel="stylesheet" />
        <link rel="../../public/css/product.css" href="style.css" />
        <link href="../../public/css/swiper-bundle.min.css" rel="stylesheet" />

        <script
            src="https://kit.fontawesome.com/799073a1c9.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://kit.fontawesome.com/799073a1c9.css"
            crossorigin="anonymous"
        />

        <script src="../../public/js/swiper-bundle.min.js"></script>
    </head>

    <body>
        <header class="header">
            <div class="logo"></div>
            <div class="tool-bar">
                <div class="searcher">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="user">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="favourite">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="shopping">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div></div>
            </div>
        </header>

        <nav class="nav">
            <div class="new nav-select">&nbsp NEW &nbsp</div>
            <div class="sale">&nbsp SALE &nbsp</div>
            <div class="option1">&nbsp SALE1 &nbsp</div>
            <div class="option2">&nbsp SALE2 &nbsp</div>
            <div class="option3">&nbsp SALE3 &nbsp</div>
        </nav>

        <div class="container">
            <div class="back">
                <i class="fa-solid fa-arrow-left"></i>
            </div>

            <div class="product-context">
                <div class="product-img">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide img1"></div>
                            <div class="swiper-slide img2"></div>
                            <div class="swiper-slide img3"></div>
                        </div>
                        <div class="swiper-pagination swiper-white"></div>
                        <div class="swiper-button-next swiper-white"></div>
                        <div class="swiper-button-prev swiper-white"></div>
                    </div>
                </div>

                <div class="product-info">
                    <div class="basic-info">
                        <div class="product-info-title">Heat Wave</div>
                        <div class="product-info-description">
                            [Personalized] Customizable and reusable false nails
                            with different sizes available.
                        </div>
                        <div class="product-info-price">20 €</div>
                    </div>
                    <div class="product-size-button">
                        <div class="product-size">
                            <span class="size"> Size </span>
                            <span class="size-box"> S </span>
                            <span class="size-box"> M </span>
                            <span class="size-box"> L </span>
                            <span class="size-box"> XL </span>
                        </div>
                        <div class="product-button">
                            <div class="button-add-bag">Add To Bag</div>
                            <div class="button-add-like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>

        <footer class="footer">
            <div class="footer-info">
                <div class="footer-information">
                    <div class="footer-title">INFORMATION</div>
                    <div class="footer-word">Order and payment</div>
                    <div class="footer-word">Shipping and delivery</div>
                    <div class="footer-word">Devolution</div>
                    <div class="footer-word">My account</div>
                    <div class="footer-word">Q&As</div>
                </div>
                <div class="footer-about_us">
                    <div class="footer-title">ABOUT US</div>
                    <div class="footer-word">Who are WE</div>
                    <div class="footer-word">Career</div>
                </div>
                <div class="footer-tcs">
                    <div class="footer-title">T&C'S</div>
                    <div class="footer-word">Terms & Conditions</div>
                    <div class="footer-word">Privacy Policy</div>
                </div>
                <div class="newsletter">
                    <div class="newsletter-top">
                        <div class="newsletter-title">
                            SIGN UP TO THE NEWSLETTER
                        </div>
                        <div class="newsletter-input">
                            <input
                                type="text"
                                placeholder="Enter your Email"
                                name=""
                                id=""
                                class="newsletter-input-text"
                            />
                            <button class="newsletter-input-btn">
                                SUBSCRIBE
                            </button>
                        </div>
                    </div>
                    <div class="newsletter-bottom">
                        <div class="follow-us">Follow us on</div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-pos">
                    <i class="fa-regular fa-copyright"></i>
                    Arcoirsl 2023-2023
                </div>
            </div>
        </footer>

        <script>
            var swiper = new Swiper(".mySwiper", {
                pagination: {
                    el: ".swiper-pagination",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
    </body>
</html>
