:root {
    --main-color-black: #181b24;
    --main-color-blue: #80abb0;
    --main-color-grey: #f1e8d9;
    --primary-color: #d8b99d;
    --secondary-color: #d4b2a7;
    --context-color: #f5efe4;
}

* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--main-color-grey);
}

.logo {
    height: 100%;
    width: 150px;
    background: url(../img/logo.png) no-repeat center;
    background-size: 140px 140px;
    margin-left: 1%;
}

.tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 13%;
    margin-right: 2%;
}

.land,
.searcher,
.user,
.favourite,
.shopping {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: var(--main-color-grey);
    color: #92897c;
    font-weight: 600;
    size: 27px;
    padding-left: 6%;
    padding-right: 6%;
}

.nav-select {
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #3d3a35;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: rgb(0, 183, 255);
}

.nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    line-height: 100%;
    cursor: pointer;
}

.container {
    background-color: --context-color;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: var(--main-color-grey);
}

.footer-info {
    height: 60%;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.footer-word {
    color: var(--main-color-blue);
}

.footer-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 80%;
}

.newsletter-title {
    font-size: 22px;
    color: #807b73;
}

.newsletter-input {
    display: flex;
    flex-wrap: nowrap; /* one-line */
    justify-content: space-between; /* [x    x    x] */
}

.newsletter-input-text {
    display: block;
    width: 65%;
    height: 42px;
    border: 1px solid #807b73;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
    color: #807b73;
    padding-left: 10px;
    z-index: 2;
}

.newsletter-input-btn {
    width: 35%;
    display: inline-block;
    background-color: #a8bfc1;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #807b73;
    border-top: 1px solid #807b73;
    border-bottom: 1px solid #807b73;
    color: #807b73;
}

.follow-us {
    font-size: 12px;
    color: #807b73;
}

.social-icon i {
    font-size: 20px;
    margin-left: 10px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.copyright-pos {
    font-size: 12px;
    color: #807b73;
}
